
<h1>Saludo</h1>

<!-- Etiqueta para el campo de entrada -->
<label for="UserId">Ingrese User ID:</label>

<input 
  type="number" 
  [(ngModel)]="UserId" 
  placeholder="Ingrese su ID de Usuario"
/>
<button (click)="getUserByID()">Saludar</button>




<!--
<h3>API EN PRODUCCIÓN</h3>
<table  class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>City</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.city }}</td>
          </tr>
    </tbody>
  </table>

-->